[Unit]
Description=Percona Terminal Session Recorder Socket
Documentation=https://github.com/percona/percona-monitoring-plugins

[Socket]
ListenStream=/run/trackterm-recd.sock
SocketMode=0666
Accept=no
Service=trackterm-recd.service

[Install]
WantedBy=sockets.target
