# PAM session recording snippet for su.
# Add to /etc/pam.d/su, before pam_xauth.so (if present):
#
# session    optional     pam_record.so service=su

session    optional     pam_record.so service=su
